body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #f5f5f5;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.bet {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
}

.content {
    display: flex;
    background-color: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
}

.contentLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
    padding: 1rem;
}

.contentRight {
    width: 50%;
    height: 100%;
    padding: 1rem;
}

.crd {
    width: 800px;
    height: 300px;
    background-color: white;
    border-radius: 40px;
    padding: 30px;
    margin-top: 20px;
    box-shadow: #212529;
}

.active {
    margin-left: -200px;
}

.passive {
    margin-left: 100px;
}

.one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.richard {
    display: flex;
    height: 300px;
    width: 800px;
    background-color: rgb(103, 103, 225);
    border-radius: 40px;
    padding: 20px;
}

.img {
    border: 1px solid black;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    margin: 20px;
    background-color: white;
}